<html>
<head>
<title>login page</title>
</head>
<body>
jjjj
<div class="loginbox">
<form action="" method="">
<input type="text" name="username">
<input type="password" name="pass">
<input type="submit" value="login">
</form>
</div>
</body>
</html>